.images-container .images {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-container .images > div {
  border-radius: 8px;
  position: relative;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}
.images-container .images a > div {
  position: relative;
}
.images-container .images a > div div:first-child {
  width: 100%;
  height: 148px;
  border-radius: 8px;
  position: relative;
}
.images-container .images a > div div:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 29.73%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.images-container .images a > div div:last-child {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 24px 0;
  z-index: 1;
  width: 100%;
}
.images-container .images a > div div:last-child p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.images-container .images a img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}