.testimonials {
  /* width: 1170px; */
  margin: 0 auto;
  position: relative;
}
.testimonials .card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  font-size: 15px;
  color: #666;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 3px 12px #0000000d;
  background-color: #fff;
}

.testimonials .card h3 {
  min-height: auto;
  height: auto;
  margin-top: 0;
  font-size: 20px;
  color: #1c3664;
  margin-bottom: 4px;
  font-weight: 400;
}

.testimonials .card .rating {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 13px;
}

.testimonials .card .desc {
  font-size: 14px;
  color: #666;
  height: 120px;
  overflow: hidden;
}

.testimonials .ohidden {
    color: #999;
    font-size: 12px;
    margin: 10px 0 0;
    overflow: hidden;
}

.testimonials .owl-nav button {
  position: absolute;
  top: 50% !important;
  width: 20px;
  height: 38px;
  margin-top: -25px;
  font-size: 0;
  text-indent: -99999px;
}
.testimonials .owl-nav button span {
  font-size: 52px;
}

.testimonials button.owl-prev {
  left: 0;
}
.testimonials button.owl-next {
  right: 0;
}

.testimonials .owl-carousel {
  padding-left: 0;
  margin-left: 0;
}

.testimonials .owl-nav button.owl-prev {
  background: url(https://www.kotak.com/etc/designs/kotak/clientlib-site/images/svg-icon/next.svg)
    no-repeat !important;
  left: 0% !important;
}

.testimonials .owl-nav button.owl-next {
  background: url(https://www.kotak.com/etc/designs/kotak/clientlib-site/images/svg-icon/prev.svg)
    no-repeat !important;
  right: 0% !important;
}