.related-video__container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.col-w-1,
.col-w-2 {
  width: 50%;
}

.col-w-1 img,
.col-w-2 img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.col-w-1 h2,
.col-w-2 h2 {
  color: var(--sub-heading-color);
  font-size: 23px;
  margin-bottom: 30px;
  line-height: 1.1;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.col-w-1 p,
.col-w-2 p {
  color: var(--text-dark);
}

.col-w-1 p:last-child,
.col-w-2 p:last-child {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  line-height: 23px;
}

.related-video__imgCard {
  position: relative;
  margin-bottom: 40px;
}

.related-video__imgCard .overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  .related-video__container {
    gap: 50px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 770px) {
  .related-video__container {
    flex-direction: column;
  }

  .col-w-1, .col-w-2 {
    width: 100%;
  }
}