.more-information > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.more-information img {
  width: 100%;
  height: auto;
}

.col-1 > div,
.col-2 > div {
  border-radius: 5px;
  padding: 30px;
  min-height: 360px;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}