.section__video {
 // background-color: #ececed;
  padding: 50px 0;
}
.video__container {
  // max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.video__card {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  min-height: 360px;
}
.video__card__heading {
  color: #3d3d3d;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 600;
}
.video__card__text {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}
.video__card__text span {
  font-weight: 600;
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
.video__card a {
  position: relative;
  display: block;
}
.video__card a .overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-w-7 {
  width: 65%;
}
.col-w-5 {
  width: 35%;
}

@media screen and (max-width: 992px) {
  .video__container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-w-7 {
    width: 100% !important;
  }
  .col-w-5 {
    width: 100% !important;
  }
  .video__card {
    min-height: fit-content !important;
  }
}