/*.more-information > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.more-information img {
  width: 100%;
  height: auto;
}

.col-1 > div,
.col-2 > div {
  border-radius: 5px;
  padding: 30px;
  min-height: 360px;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}*/

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.section__video {
  background-color: #ececed;
  padding: 50px 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.card {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  min-height: 360px;
}
.card__heading {
  color: #3d3d3d;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 600;
}
.card__text {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}
.card__text span {
  font-weight: 600;
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
.card a {
  position: relative;
  display: block;
}
.card a .overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-7 {
  width: 65%;
}
.col-5 {
  width: 35%;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-7 {
    width: 100% !important;
  }
  .col-5 {
    width: 100% !important;
  }
}