.videoModal .modal-body {
    height: 360px;
}

.videoModal iframe {
    height: 330px;
}

.videoModal .close {
    width: 33px;
    position: absolute;
    top: -20px;
    right: -20px;
    color: white;
    background: black;

    font-size: 22px;
    padding-bottom: 8px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 1;
}