.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.contact-us>div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contact-us .card-body h4 {
    margin-top: 0;
    font-family: 'Roboto', serif;
    font-size: 24px;
    color: #333;
    font-weight: 400;
}

.contact-us .card-body p {
    margin-top: 0;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #333;
}

.contact-us .card-body p:nth-of-type(1) {
    min-height: 100px;
}

.contact-us .button-container .button {
    background: none !important;
    color: red !important;
    font-weight: 600;
    font-size: 15px;
    padding-left: 0;
    border: none;
    text-align: left;
}

.contact-us .button-container .button::after {
    content: "\e907";
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
/*.contact-us .button-container a {
  border: none !important;
  padding: 0 !important;
  text-align: start !important;
  width: 100% !important;
}*/

@media only screen and (max-width: 1140px) {
    .contact-us {
        grid-template-columns: 1fr 1fr;
    }

    .contact-us .card-body p {
        text-align: left;
    }
}