.kt-carousel.carousel-wrapper.owl-theme {
    max-width: 100%;
    overflow: hidden;
}

.kt-carousel.owl-carousel .item {
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

.kt-carousel .carousel-image {
    position: relative;
    height: 100%;
    margin: auto;
}

.kt-carousel .carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.kt-carousel .carousel-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.kt-carousel .carousel-text {
    width: 100%;
    /* z-index: 2; */
}

.kt-carousel .main-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 31, 63);
    max-width: 52%;
    margin: 10px 0;
    text-align: left;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
}

.kt-carousel .sub-text {
    max-width: 55%;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 31, 63);
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.kt-carousel .button-container {
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
}

.kt-carousel .button {
    font-size: 18px;
    background: #ed4223;
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
}

.kt-carousel .carousel-content2 {
    border: 2px solid green !important;
}

.kt-carousel .savings-btn {
    border: 2px solid blue !important;
}

/* For tablets and larger devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .kt-carousel .main-text {
        font-size: 36px;
        line-height: 44px;
        max-width: 70%;
    }

    .kt-carousel .sub-text {
        font-size: 14px;
        line-height: 20px;
        max-width: 70%;
    }

    .kt-carousel .carousel-text {
        padding: 50px 30px;
    }

    .kt-carousel .button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* For mobile devices */
@media (max-width: 767px) {
    .kt-carousel .main-text {
        display: none;
    }

    .kt-carousel .sub-text {
        font-size: 12px;
        line-height: 18px;
        max-width: 90%;
    }

    .kt-carousel .carousel-text {
        padding: 30px 20px;
    }

    .kt-carousel .button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.kt-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
}

.kt-carousel .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 5px;
}

.kt-carousel .owl-dots .owl-dot.active {
    background-color: none;
    border: 1.5px solid white;
}

.kt-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.kt-carousel .owl-nav button span {
    font-size: 50px;
    height: 100%;
    color: #999;
    display: block;
    width: 100%;
}