.carousel-wrapper.owl-theme {
    overflow: hidden;
    max-width: 100% !important;
    /* height: 100vh !important; */
    margin: 0 !important;
    padding: 0px;
}

.kt-carousel.owl-carousel .item {
    max-width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0px !important;
}

.kt-carousel .carousel-image,
.kt-carousel .carousel img,
.kt-carousel.owl-carousel .owl-item img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.kt-carousel .carousel-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.kt-carousel .carousel-text {
    max-width: 100%;
    /* z-index: 2; */
}

.kt-carousel .main-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 31, 63);
    max-width: 50% !important;
    margin: 10px 0;
    text-align: left;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
}

.kt-carousel .sub-text {
    max-width: 55%;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 31, 63);
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.kt-carousel .button-container {
    text-align: left;
    padding-top: 20px;
    font-size: 18px;
}


.kt-carousel .button {
    font-size: 18px;
    background: #ed4223;
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    padding: 10px 25px;
    border-radius: 5px !important;
}

.kt-carousel .carousel-content2 {
    position: absolute;
    top: 60%;
    left: 54%;
    border-radius: 5px;
}

.savings-page .button-wrapper-combined {
    display: flex;
    gap: 5px;
}

.savings-page .learn-more-link {
    color: #d32f2f;
    text-decoration: none;
}


@media (max-width: 767px) {
    .kt-carousel .main-text {
        display: none;
    }

    .kt-carousel .sub-text {
        font-size: 12px;
        line-height: 18px;
        max-width: 90%;
    }

    .kt-carousel .owl-dots {
        display: none !important;
    }

    .owl-theme .owl-nav {
        display: none !important;
    }

    .kt-carousel .button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .kt-carousel .button-container {
        padding-top: 0px;
        margin-bottom: 10px;
    }

    .savings-page .button-wrapper-combined {
        display: block;

    }
}

.kt-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


.kt-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.kt-carousel .owl-nav button span {
    font-size: 50px;
    height: 100%;
    color: #999;
    display: block;
    width: 100%;
}


.kt-carousel.owl-carousel .owl-nav button.owl-next,
.owl-prev {
    background: none;
}
.kt-carousel.owl-carousel .owl-nav button.owl-next,
.owl-prev {
    background: none;
}
.kt-carousel a:hover{
    background-color: #ee1c25;
}


.kt-carousel .owl-dots .owl-dot span{
    background-color: transparent;
    border-color: #fff;
    margin: 0;
}
.kt-carousel .owl-dots .owl-dot.active span{
    background-color: #fff;
}
.kt-carousel img{
    height: 400px !important;
}

@media screen and (max-width:600px) {
    .kt-carousel img{
        height: 300px !important;
    }
}
