.links-wrapper {
  padding: 15px 0;
  color: #666;
  font-size: 13px;
  border-bottom: 3px solid white;
  padding-left: 15px;
  padding-right: 15px;
}

.links.block > div {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding: 10px 0;
}

.links.block > div:last-child {
  border-bottom: none;
}

.links.block > div > div > p:first-child {
  font-size: 13px;
  color: #333;
  font-weight: 600;
  margin: 0 0 10px;
}

.links.block > div > div > p > a {
  color: #666;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.links.block > div > div > p:not(:first-child) {
  margin: 0;
}

@media (min-width: 1200px) {
  .links.block {
    width: 1170px;
    margin: 0 auto;
  }
}