/*mobile */
@media (width <=900px) {
    #faqs {
        font-size: 20px !important;
        font-weight: 700 !important;
        text-align: center !important;

        margin: 20px 0 0px 0 !important;
    }

    .faq-container .faq-wrapper .faq.block>div h3 {
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 24px !important;
    }

    .clickArrow:before {
        right: 28px !important;
    }

    .faq-container {
        margin-bottom: 0 !important;
    }

    .faq-container>div.default-content-wrapper:last-of-type {
        padding: 0 !important;
    }

    .faq-container p.button-container a {
        width: 100% !important;
        display: block !important;
    }

    .faq-container p.button-container {
        max-width: 60%;
        width: 100%;
        margin: 20px auto 30px auto !important;
    }
}

#faqs {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 10px 0;
}

.faq-container .faq-wrapper {
    /* // max-width: 100%; */
    padding: 0;
    /* margin: 0 100px; */
}

.faq-container .faq-wrapper .faq.block>div div:nth-of-type(2) {
    max-height: 0;
    overflow: hidden;
    width: 92%;
    transition: max-height 0.5s ease;
}

.show {
    max-height: 500px !important;
}

.faq-container .faq-wrapper .faq.block>div div:nth-of-type(2) p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333;
    margin-bottom: 0;
}

.faq-container .faq-wrapper .faq.block>div {
    border-bottom: 1px solid #cacbcc;
    padding: 30px 0;
}

.faq-container .faq-wrapper .faq.block>div h3 {
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 23.4px;
    margin: 0;
    padding-right: 30px;
}

.clickparent {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.clickArrow {
    cursor: pointer;
    position: relative;
}

.clickArrow:before {
    content: "";
    background-image: url(../../icons/accordionarrow.svg);
    width: 13px;
    height: 13px;
    background-position: 50%;
    position: absolute;
    background-repeat: no-repeat;
    right: 0px;
    transform: rotate(90deg);
    transition: transform .5s ease;
}

.clickArrow.rotate:before {
    transform: rotate(270deg);
}

.clickArrowAfter {
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #efefef;
    border: 0;
    margin-top: 0;
    /*     margin-right: -19px; */
}

.clickArrowAfter:before {
    content: "";
    background-image: url(https://www.asianpaints.com/etc.clientlibs/apcolourcatalogue/components/content/faq/clientlibs/resources/images/cross-icon.svg);
    width: 13px;
    height: 13px;
    background-position: 50%;
    position: absolute;
    background-repeat: no-repeat;
}

.faq-container p.button-container {
    margin: 0;
    text-align: center;
    margin-top: 20px;
}

.faq-container p.button-container a {
    background: #431a80;
    border: 1px solid #431a80;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    padding: 16px 20px;
    width: 100%;
    width: 270px;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: .86px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.faq-container p.button-container a:hover {
    color: #fff;
    background: #5e25b2;
}


/*  CSS Start : For Contact us mobile view
.mobile-view>div {
    display: flex;
    flex-direction: column;
}
.mobile-view {
    display: flex !important;
    flex-direction: column  !important;
}
.mobile-view .clickparent {
    padding: 10px 15px;
    background: #eaeaea;
    margin-bottom: 10px;
    cursor: pointer;
}
.faq.mobile-view>div {
    border-bottom: 1px solid #cacbcc;
    padding: 0;
}
.faq-container .faq-wrapper .faq.mobile-view>div h3 {
    font-size: 24px !important;
    color: #036;
    margin: 5px 0 0;
    font-weight: 400;
}

.mobile-view>div .show>p:nth-of-type(1) {
    height: 135px;
    font-size: 15px;
}
.faq-container .mobile-view p.button-container a {
    background: none;
    color: red;
    border: none;
    width: auto !important;
    padding: 0;
}
CSS End : For Contact us mobile view   */
.mobile-view>div {
    display: flex;
    flex-direction: column !important;
}
.mobile-view {
    display: none !important;
}

.faq-container .mobile-view p.button-container a {
    background: none;
    color: red;
    border: none;
    width: auto !important;
    padding: 0;
    text-align: left;
}
.faq-container .faq-wrapper .mobile-view>div div:nth-of-type(2) p:nth-of-type(2) {
    max-width: 200px;
    margin: 0 !important;
    padding: 16px 0;
    text-align: left;
}

@media only screen and (max-width: 770px) {
    .contact-us-wrapper {
        display: none;
    }
    .mobile-view {
        display: flex !important;
        flex-direction: column;

    }
    .faq-container .faq-wrapper .mobile-view>div{
        display: flex;
        flex-direction: column !important;
        padding: 0 !important;
    }
    .mobile-view .clickparent {
        padding: 10px 15px;
        background: #eaeaea;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .mobile-view .clickArrow:before {
        right: 0 !important;
    }
}