.back-to-top {
    //display: none;
    //position: fixed;
    //bottom: 20px;
    //right: 30px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    width: 100px;
   // z-index: 99;
}

.back-to-top:hover {
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}

.block-btn {
    display : block;
}

.position-scroll {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 30px;
}