/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #ee1c25;
  --link-hover-color: #fff;
  --heading-color: #0f3464;

  /* fonts */
  --body-font-family: roboto, sans-serif;
  --heading-font-family: roboto, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;

  /* container width */
  --container-width: 1200px
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}


@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  /* //line-height: 1.6; */
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  color: var(--heading-color);
  font-size: 32.0px;
}

h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--heading-color);
  letter-spacing: -.5px;
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

/* main>div {
  margin: 40px 16px;
} */

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

/* main img {
  //max-width: 100%;
  //width: auto;
  //height: auto;
} */

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* Background Theme */
.bg-light-gray {
  background-color: #ececed;
}

.bg-dark-gray {
  background-color: #f3f3f3;
}

.bg-gradient {
  background: linear-gradient(to right, #f37032, #ed1f23);
}


/* Utils */
.bg-gradient .block {
  text-align: center;
  color: #fff;
}

.bg-gradient .block .button {
  background: #fff;
  color: red;
  border-color: #fff;
  min-width: 220px;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}


/* sections */
main>.section {
  padding: 4rem 0;
}

main>.section.carousel-container {
  padding: 0;
}

/* Container */
main>.section>div {
  max-width: var(--container-width);
  margin: 0 auto;
  /* padding: 0 24px; */
}

.container-padding {
  padding: 0 8.5rem !important;
}

main>.section:first-of-type {
  margin-top: 0;
}

/* section metadata */
.section.cards-container p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  color: #101010;
}

.section.cards-container .default-content-wrapper p{
  margin-bottom: 3rem;
}

.section.cards-iconwithtext-container .default-content-wrapper p{
  margin-bottom: 2rem;
}

.default-content-wrapper p{
  text-align: center;
  }

.default-content-wrapper h2 {
  text-align: center;
  color: var(--heading-color);
  margin-bottom: 25px;
}

.default-content-wrapper h4 {
  text-align: center;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 25px;
}

.cards-slider-container .default-content-wrapper h4 {
  margin-top: 5rem;
}